.TransfersList
  border: 1px solid green
  padding: 1em


  > .transfers
    > .transfer
      display: flex
      flex-direction: row
      > * // cell
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      > .name
        width: 100px
      > .created_at
        width: 100px
      > .status
        width: 100px
