.SearchForm
  display: inline-block
  position: relative
  border: 1px solid black
  +border-radius(5px)
  overflow: hidden
  input
    border: none
    padding: 0.2em 0.5em
    font-size: inherit
    color: inherit

    &:focus
      outline: none
      outline-offset: 0

  .glyphicon
    position: absolute
    top: 0.35em
    right: 0.3em
