.ShowsPage

  .shows-list
    display: flex
    flex-wrap: wrap

  .ShowPage-show
    height: 150px
    width: 150px
    background-color: black
    margin: 1em
    overflow: hidden

  .ShowPage-show-name
    text-algin: center
    color: white
    padding: 10px 5px
    font-size: 20px
