.ShowsPage

  .shows-list
    display: flex
    flex-wrap: wrap

  .ShowPage-show
    height: 200px
    width: 150px
    // background-color: black
    margin: 1em
    overflow: hidden
    img
      max-width: 100%
